<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01/EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Icon Forth</title>
  </head>
  <body bgcolor="#777777">
    <form>
      <img border="5" bordercolor="#cc0000"
      style="cursor: pointer; border-color: #cc0000;"
      src="/icon/{{ id }}.png" width="32" height="32"
      onclick="window.parent.pick('{{ id }}')">
      <input type="button" value="List"
      onclick="window.location.href='/results'">
    </form>
    <img width="1" height="32">
    {% for word in definition %}
    <a href="/read/{{ word }}"><img src="/icon/{{ word }}.png" width="32" height="32" border="0"></a>
    {% endfor %}<br>
    {{ description }}
    <br><b>Used by:</b>
    {% for word in words_used %}
    <a href="/read/{{ word }}"><img src="/icon/{{ word }}.png" width="32" height="32" border="0"></a>
    {% endfor %}<br>
    <br><i>{{ created }}</i><br>
  </body>
</html>

