<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Icon Forth</title>
  </head>
  <body bgcolor="#777777"><font color="#ffffff">
      <form>
        <table><tr>
            <td valign="middle">
              <img border="5" bordercolor="#cc0000"
              style="cursor: pointer; border-color: #cc0000;"
              src="/icon?id={{ id }}.png" width="32" height="32"
              onclick="pick('{{ id }}')">
            </td>
            <td valign="middle">
              <input type="button" value="List"
              onclick="window.open('/list?id={{ id }}')">
            </td>
            <td valign="middle">
              <input type="button" value="Run"
              onclick="window.open('/run?id={{ id }}')">
            </td>
            {% if admin %}
            <td valign="middle">
              <input type="button" value="Delete"
              onclick="deleteword('{{ id }}')">
            </td>
            {% endif %}
        </tr></table>
    </form>
    <img width="1" height="32">
    {% for word in definition %}<img src="/icon?id={{ word }}.png" width="32" height="32" border="0" style="cursor: pointer;" onclick="view('/read?id={{ word }}')">{% endfor %}<br>
    {{ description }}<br>
    <table><tr>
        <td valign="middle"><b>Used by:</b></td>
        <td valign="middle">
          {% for word in words_used %}
          <img src="/icon?id={{ word }}.png" width="32" height="32" border="0" style="cursor: pointer;" onclick="view('/read?id={{ word }}')">
          {% endfor %}
        </td>
    </tr></table>
    <i>Created {{ created }} / Last used {{ last_used }}</i>
    <br><img src="/images/iconforth.png" width="48" height="48">
</font></body>
</html>

