<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Icon Forth</title>
</head>
<body>

<div id="canvas_div" style="display: none;">
  <canvas id="canvas" width="300" height="300"
  border="0" style="cursor: pointer;"></canvas><br>
</div>
<div id="console"></div>

<script type="text/javascript" src="/js/http.js"></script>

<script type="text/javascript">

var console;
var cvd;
var cv;
var ctx;
var id = "{{ id }}";

function op(x) { return 0x7fffff00 + x; }
var RET = op(1);
var exe = [
1, // call exe
op(31) // halt
{{ exe }}
];

function blank() {
  ctx.clearRect(0, 0, cv.width, cv.height);

  ctx.fillStyle = "#000000";
  ctx.beginPath();
  ctx.rect(0, 0, cv.width, cv.height);
  ctx.closePath();
  ctx.fill();
}

function ColorStr(x) {
  var y = "00000" + x.toString(16);
  var z = y.substr(y.length-6);
  return "#" + z;
}

function grf_resize(w, h) {
  cvd.style.display = "";
  blank();
}

var pen_color = '#ffffff';
var pen_x = 0, pen_y = 0;

function grf_box(x, y) {
  cvd.style.display = "";
  ctx.fillStyle = pen_color;
  ctx.beginPath();
  ctx.rect(pen_x, pen_y, x, y);
  ctx.closePath();
  ctx.fill();
}

function grf_lineto(x, y) {
  cvd.style.display = "";
  ctx.strokeStyle = pen_color;
  ctx.beginPath();
  ctx.moveTo(pen_x, pen_y);
  ctx.lineTo(x, y);
  ctx.closePath();
  ctx.stroke();
  pen_x = x;
  pen_y = y;
}

var events = [];

function GetEvent() {
  if (events.length) {
    var e = events.shift();
    return e;
  } else {
    return {'code': 0, 'x': 0, 'y': 0};
  }
}

var memory = exe.slice(0);
var rstack = Array();
var dstack = Array();
var ip = 0;

function run() {
  while(1) {
    var ir = memory[ip++];
    switch (ir) {
      case 0x7fffff01: // op(1)
        ip = rstack.pop(); break; // ret
      case 0x7fffff02: // op(2)
        dstack.push(0); break; // number (zero)
      case 0x7fffff03: // op(3)
        dstack.push(dstack.pop() * 10 + 0); break; // 0
      case 0x7fffff04: // op(4)
        dstack.push(dstack.pop() * 10 + 1); break; // 1
      case 0x7fffff05: // op(5)
        dstack.push(dstack.pop() * 10 + 2); break; // 2
      case 0x7fffff06: // op(6)
        dstack.push(dstack.pop() * 10 + 3); break; // 3
      case 0x7fffff07: // op(7)
        dstack.push(dstack.pop() * 10 + 4); break; // 4
      case 0x7fffff08: // op(8)
        dstack.push(dstack.pop() * 10 + 5); break; // 5
      case 0x7fffff09: // op(9)
        dstack.push(dstack.pop() * 10 + 6); break; // 6
      case 0x7fffff0a: // op(10)
        dstack.push(dstack.pop() * 10 + 7); break; // 7
      case 0x7fffff0b: // op(11)
        dstack.push(dstack.pop() * 10 + 8); break; // 8
      case 0x7fffff0c: // op(12)
        dstack.push(dstack.pop() * 10 + 9); break; // 9
      case 0x7fffff0d: // op(13)
        rstack.push(dstack.pop()); break; // >r
      case 0x7fffff0e: // op(14)
        dstack.push(rstack.pop()); break; // r>
      case 0x7fffff0f: // op(15)
        dstack.push(dstack.pop() + dstack.pop()); break; // +
      case 0x7fffff10: // op(16)
        dstack.push(-dstack.pop() + dstack.pop()); break; // -
      case 0x7fffff11: // op(17)
        dstack.push(dstack.pop() * dstack.pop()); break; // *
      case 0x7fffff12: // op(18)
        dstack.push(dstack.pop()*2); break; // 2*
      case 0x7fffff13: // op(19)
        dstack.push(Math.floor(dstack.pop()/2)); break; // 2/
      case 0x7fffff14: // op(20)
        dstack.push(-dstack.pop()); break; // negate
      case 0x7fffff15: // op(21)
        dstack.push(dstack.pop() & dstack.pop()); break; // and
      case 0x7fffff16: // op(22)
        dstack.push(dstack.pop() | dstack.pop()); break; // or
      case 0x7fffff17: // op(23)
        var a = dstack.pop(); var b = dstack.pop();
        dstack.push(a); dstack.push(b); break; // swap
      case 0x7fffff18: // op(24)
        dstack.pop(); break; // drop
      case 0x7fffff19: // op(25)
        dstack.push(dstack[dstack.length-1]); break; // dup
      case 0x7fffff1a: // op(26)
        dstack.push(memory[dstack.pop()]); break; // @
      case 0x7fffff1b: // op(27)
        var a = dstack.pop();
        memory[a] = dstack.pop(); break; // !
      case 0x7fffff1c: // op(28)
        console.innerHTML += String.fromCharCode(dstack.pop()); break; // emit
      case 0x7fffff1d: // op(29)
        var e = GetEvent();
        dstack.push(e.x);
        dstack.push(e.y);
        dstack.push(e.code); break; // event
      case 0x7fffff1e: // op(30)
        return; // sleep
      case 0x7fffff1f: // op(31)
        events = []; ip--; return; // halt
      case 0x7fffff20: // op(32)
        rstack.push(ip-1); ip += (memory[ip]+1); break; // forever
      case 0x7fffff21: // op(33)
        rstack.pop(); ip = rstack.pop(); break; // loop stop
      case 0x7fffff22: // op(34)
        if(!dstack.pop()) { ip++; } break; // if
      case 0x7fffff23: // op(35)
        console.innerHTML += (dstack.pop() + ' '); break; // .
      case 0x7fffff24: // op(36)
        if (dstack.pop() > dstack.pop()) {
          dstack.push(1);
        } else {
          dstack.push(0);
        }
        break; // <
      case 0x7fffff25: // op(37)
        if (dstack.pop() == dstack.pop()) {
          dstack.push(1);
        } else {
          dstack.push(0);
        }
        break; // =
      case 0x7fffff26: // op(38)
        var y = dstack.pop();
        var x = dstack.pop();
        grf_resize(x, y);
        break; // grf_resize
      case 0x7fffff27: // op(39)
        var y = dstack.pop();
        var x = dstack.pop();
        grf_box(x, y);
        break; // grf_rect
      case 0x7fffff28: // op(40)
        pen_y = dstack.pop();
        pen_x = dstack.pop();
        break; // grf_moveto
      case 0x7fffff29: // op(41)
        pen_color = ColorStr(dstack.pop());
        break; // grf_color
      case 0x7fffff2a: // op(42)
        var y = dstack.pop();
        var x = dstack.pop();
        grf_lineto(x, y);
        break; // grf_lineto
      case 0x7fffff2b: // op(43)
        dstack.push(Math.floor(Math.random()*dstack.pop())); break; // random
      default:
        rstack.push(ip); ip += ir; break; // call
    }
  }
}

function mousedown(evt) {
  var x = evt.pageX - 8;
  var y = evt.pageY - 8;
  events.push({'code': 1, 'x': x, 'y': y});
  run();
}

function mouseup(evt) {
  var x = evt.pageX - 8;
  var y = evt.pageY - 8;
  events.push({'code': 2, 'x': x, 'y': y});
  run();
}

function mousemove(evt) {
  var x = evt.pageX - 8;
  var y = evt.pageY - 8;
  events.push({'code': 3, 'x': x, 'y': y});
  run();
}

function keypress(evt) {
  events.push({'code': 4, 'x': evt.keyCode, 'y': 0});
  run();
}

function keydown(evt) {
  events.push({'code': 5, 'x': evt.keyCode, 'y': 0});
  run();
}

function keyup(evt) {
  events.push({'code': 6, 'x': evt.keyCode, 'y': 0});
  run();
}


function init() {
  console = document.getElementById("console");
  cvd = document.getElementById("canvas_div");
  cv = document.getElementById("canvas");
  ctx = cv.getContext("2d");

  blank();
  document.onmousedown = mousedown;
  document.onmouseup = mouseup;
  document.onmousemove = mousemove;
  document.onkeypress = keypress;
  document.onkeydown = keydown;
  document.onkeyup = keyup;
  setInterval('run()', 30);
  run();
}

init();

</script>

</body>
</html>
