<html>
<head>
<title>Forth Haiku Editor</title>
{% include 'header.html' %}

<body bgcolor="#000000">
<div id="wrapper">

<div id="header">
<h1>Forth Haiku Editor</h1>
</div>

<div class="section">

<form method="post" action="/admin/article-submit">
Title:<br>
<input type="hidden" name="id" value="{{ article.id|escape }}"/>
<input type="text" style="width: 256;" name="title" value="{{ article.title|escape }}"><br>
Summary:<br>
<textarea style="width: 256; height:150; resize: none"
    name="summary">{{ article.summary|escape }}</textarea><br>
Body:<br>
<textarea style="width: 256; height:150; resize: none"
    name="body">{{ article.body|escape }}</textarea><br>
<br>
<input type="submit" value="Submit">
</form>
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
{{ login_status }}
</div>

</div>

</body>
</html>
