<html>
<head>
<title>Articles</title>
{% include 'header.html' %}

<body onload="init();" bgcolor="#000000">
<div id="wrapper">

<div id="header">
<h1>Articles</h1>
</div>

<div class="section">
{% for article in articles %}
<div class="article">
<h3><a href="/article-view/{{ article.id }}">{{ article.title|escape }}</a></h3>
<p>{{ article.summary|escape }}</p>
</div>
{% endfor %}
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
{{ login_status }}
</div>

</div>

<script type="text/javascript" src="/static/haiku.js"></script>
<script type="text/javascript">
function init() {
  update_haikus(function() {});
}
</script>

</body>
</html>
