<html>
<head>
<title>{{ article.title|escape }}</title>
{% include 'header.html' %}

<body bgcolor="#000000">
<div id="wrapper">

<div id="header">
<h1>{{ article.title|escape }}</h1>
</div>

<div class="section">
<p>{{ article.summary|escape }}</p>
{{ article.body }}
</div>

{% if is_admin %}
<a href="/admin/article-editor?id={{ article.id }}">Edit</a>
{% endif %}

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
{{ login_status }}
</div>

</div>

</body>
</html>
