<html>
<head>
<title>Animated Haiku</title>
{% include 'header.html' %}

<body bgcolor="#000000">
<div id="wrapper">

<div id="header">
  {% include 'search.html' %}
  <h1>Animated Haiku</h1>
</div>

<div class="section">

<p>
Some haiku can now use image data from a user camera/webcam.
The <a href="/word-view/627773616D706C65">bwsample</a> word
is used to sample grayscale data.
The <a href="/word-view/73616D706C65">sample</a> word
is used to sample RGB data.
</p>
<p>
These haiku can only capture camera data using
<a href="http://en.wikipedia.org/wiki/WebGL>WebGL2</a>.
WebGL is available in the very latest versions of
<a href="http://www.google.com/chrome">Google Chrome</a>,
<a href="http://www.firefox.com/">Firefox</a>,
<a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Edge</a>,
and <a href="http://www.apple.com/safari">Safari</a>.
</p>
<p>
The haiku is converted on the fly to a GLSL fragment shader.
</p>
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
</div>

</div>

</body>
</html>
