<html>
<head>
<title>Slideshow3</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<style>
body {
  border: 0;
  margin: 0;
  padding: 0;
}
div {
  border: 0;
  margin: 0;
  padding: 0;
}
span {
  border: 0;
  margin: 0;
  padding: 0;
}
canvas {
  border: 0;
  margin: 0;
  padding: 0;
}
</style>
<link href="/favicon.ico" rel="SHORTCUT ICON">
<link href="http://forthsalon.appspot.com/favicon.png"
 rel="apple-touch-icon-precomposed">
<meta name="viewport" content="width=600">
<meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style"
 content="black-translucent"/>
</head>

<body onload="init();" bgcolor="#000000">

<div class="haiku">
<span name="haiku" width="{{ haiku_width }}" height="{{ haiku_height }}">
<textarea id="code" style="display: none"></textarea>
<a name="animated" style="display: none"></a>
</span>
</div>

{% for haiku in haikus %}
<textarea id="item{{ loop.index }}" style="display: none"
 >{{ haiku.code|escape }}</textarea>
{% endfor %}

{% if more and cursor %}
<br/>
<h3>
<a href="/haiku-slideshow3?order={{ order|escape }}&cursor={{ cursor|escape }}&width={{ haiku_width|escape }}&height={{ haiku_height|escape }}&limit={{ limit|escape }}">Next</a>
</h3>
{% endif %}

<script type="text/javascript" src="/static/haiku.js"></script>
<script type="text/javascript">

var haiku_count = {{ haiku_count }};
var current_slide = 0;

function init() {
  animate_haikus(function() {});

  window.onkeydown = function(e) {
    if (e.which == 37) {
      current_slide = (current_slide + haiku_count - 1) % haiku_count;
      pick_slide(current_slide);
    } else if (e.which == 39) {
      current_slide = (current_slide + 1) % haiku_count;
      pick_slide(current_slide);
    }
  };
  pick_slide(current_slide);
}

function pick_slide(index) {
  var code = document.getElementById('code');
  var tag = document.getElementById('item' + (index + 1));
  code.value = tag.value;
}
</script>

</body>
</html>
