<html>
<head>
<title>Slideshow</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<style>
body {
  border: 0;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
div {
  border: 0;
  margin: 0;
  padding: 0;
}
span {
  color: white;
  border: 0;
  margin: 0;
  padding: 0;
}
canvas {
  border: 0;
  margin: 0;
  padding: 0;
}
a:link {
  color: #777;
  text-decoration: underline;
}
a:visited {
  color: #777;
  text-decoration: underline;
}
a:hover {
  color: #777;
  text-decoration: underline;
}
</style>
<link href="/favicon.ico" rel="SHORTCUT ICON">
<link href="http://forthsalon.appspot.com/favicon.png"
 rel="apple-touch-icon-precomposed">
<meta name="viewport" content="width=600">
<meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style"
 content="black-translucent"/>
{% include 'tracking.html' %}
</head>

<body onload="init();" bgcolor="#000000">

<button type="button" id="audio_play" style="visibility: hidden"
        onclick="audio_toggle_play()">&#9654;</button>
<center>
<div style="color:#ffffff; font-size:30px;">
  <b id="showntitle" style="color:#ffffff; font-size:30px;"></b>
  <span> - </span>
  <i id="shownauthor" style="color:#ffffff; font-size:30px;"></i>
  <i id="shownwhen" style="color:#999999; font-size:30px;"></i>
</div>
</center>
<center>
<div class="haiku">
<span name="haiku" width="{{ haiku_width }}" height="{{ haiku_height }}">
<textarea id="showncode" style="display: none"></textarea>
</span>
<a name="category" style="display: none"></a>
<a name="audio" style="display: none"></a>
</div>
</center>
<br/>
<br/>
<table style="margin:auto;"><tr><td style="margin:auto;">
<pre id="source"
 style="color:#ffffff; font-size:30px; white-space: pre-wrap;">
</pre>
</td></tr></table>

{% for haiku in haikus %}
<textarea id="code{{ loop.index }}" style="display: none"
 >{{ haiku.code|escape }}</textarea>
<textarea id="title{{ loop.index }}" style="display: none"
 >{{ haiku.title|escape }}</textarea>
<textarea id="author{{ loop.index }}" style="display: none"
 >{{ haiku.author|escape }}</textarea>
<textarea id="when{{ loop.index }}" style="display: none"
 >{{ haiku.when.strftime('\'%y %b %d')|escape }}</textarea>
{% endfor %}

<br/>
<h3>
<span id="status"></span>
{% if more and cursor %}
<a href="/haiku-slideshow?order={{ order|escape }}&cursor={{ cursor|escape
  }}&width={{ haiku_width|escape }}&height={{ haiku_height|escape }}&limit={{ limit|escape }}">more</a>
{% endif %}
</h3>

<script type="text/javascript" src="/static/haiku.js"></script>
<script type="text/javascript">

var haiku_count = {{ haiku_count }};
var current_slide = 0;
var shadow = false;
var last_slide = 0;
var slide_random_on = false;

function slide_prev() {
  current_slide = (current_slide + haiku_count - 1) % haiku_count;
  pick_slide(current_slide);
  return false;
}

function slide_next() {
  current_slide = (current_slide + 1) % haiku_count;
  pick_slide(current_slide);
  return false;
}

function slide_random() {
  current_slide = Math.floor(Math.random() * haiku_count);
  pick_slide(current_slide);
}

function slide_scroll() {
  shadow = !shadow;
  if (shadow) {
    window.scroll(0, 600);
  } else {
    window.scroll(0, 0);
  }
  var tm = new Date().getTime();
  if (tm - last_slide < 400) {
    audio_toggle_play();
  }
  last_slide = tm;
  return false;
}

function init() {
  animate_haikus(function() {});

  window.onstroke = function(s) {
    if (s === 'f') {
      return slide_prev();
    } else if (s === 't') {
      return slide_next();
    } else if (s === 'b') {
      return slide_scroll();
    } else if (s === 'awd' || s === 'aud') {
      audio_toggle_play();
      return false;
    }
    return true;
  };
  window.onkeydown = function(e) {
    if (e.which === 37 || e.which === 33) {
      return slide_prev();
    } else if (e.which === 39 || e.which === 34) {
      return slide_next();
    } else if (e.which === 66 || e.which == 190) {
      return slide_scroll();
    } else if (e.which == 65) {
      audio_toggle_play();
      return false;
    } else if (e.which == 90) {
      slide_random_on = !slide_random_on;
    }
    return true;
  };
  pick_slide(current_slide);
}

function pick_slide(index) {
  var showncode = document.getElementById('showncode');
  var code = document.getElementById('code' + (index + 1));
  var title = document.getElementById('title' + (index + 1));
  var author = document.getElementById('author' + (index + 1));
  var when = document.getElementById('when' + (index + 1));
  showncode.value = code.value;
  showntitle.innerText = title.value;
  shownauthor.innerText = author.value;
  shownwhen.innerText = when.value;
  var label = document.getElementById('status');
  label.innerText = '' + (index + 1) + ' of ' + haiku_count;
  var source = document.getElementById('source');
  source.innerText = code.value;
  window.stroke_print(title.value + '\n');
}

setInterval(function() {
  if (slide_random_on) {
    slide_random();
  }
}, 4000);
</script>

</body>
</html>
