<html>
<head>
<title>Haiku Sound</title>
{% include 'header.html' %}

<body bgcolor="#000000">
<div id="wrapper">

<div id="header">
  {% include 'search.html' %}
  <h1>Haiku Sound</h1>
</div>

<div class="section">

<p>
Audio can now be synthesized to accompany haiku.
Click 'Play Audio' / 'Mute Audio' to toggle.
The sound can only be heard at the moment in browsers that support the
<a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">WebAudio&nbsp;API</a>.
This is a very new API and is not supported in most browsers.
This feature works on mainly in
<a href="http://www.google.com/chrome">Google Chrome</a>.
</p>
<p>
Audio is produced by sampling the red component at (0, 0.5) to select amplitude,
and the red component at (1, 0.5) to select pitch.
Both are clipped to [0, 1]. Pitch is mapped to a ten note pentatonic scale.
Fractional pitches produce a mix of neighboring tones on the scale.
This general scheme was selected to produce non-cacophonous sounds.
Prior attempts with arbitrary audio sounded horrible.
</p>
<p>
This feature is a work in progress and may change.
</p>
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
</div>

</div>

</body>
</html>
