<html>
<head>
<title>Haiku Gallery</title>
{% include 'header.html' %}

<body onload="init();" bgcolor="#000000">
<div id="wrapper">

<div id="header">
<h1>Haiku Gallery</h1>
</div>

<div class="section">

{% for haiku in haikus %}
<a href="/haiku-view/{{ haiku.id }}">
<div class="haiku" style="cursor: pointer;">
<span name="haiku" width="128" height="128">
<textarea style="display: none">{{ haiku.code|escape }}</textarea>
</span>
<b>{{ haiku.title|escape }}</b></a>
<i>{{ haiku.author|escape }}</i>
</div>
{% endfor %}

</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
</div>

</div>

<script type="text/javascript" src="/static/haiku.js"></script>
<script type="text/javascript">
function init() {
  update_haikus(function() {});
}
</script>

</body>
</html>
