<html>
<head>
<title>Forth Haiku Editor</title>
{% include 'header.html' %}

<body onload="init()" bgcolor="#000000">
<div id="wrapper">

<div id="header">
<h1>Forth Haiku Editor</h1>
</div>

<div class="section">
<form method="post" action="/haiku-submit">
<span id="editimage" name="haiku"
    width="{{ haiku_size }}" height="{{ haiku_size }}">
<textarea style="display: none" id="dst_code"></textarea>
</span>
<br>
<button type="button" onclick="update()">Update</button>
<button type="button" id="audio_play"
        onclick="audio_toggle_play()">Play Audio</button>
<a href="/haiku-sound">*</a>
<br>
<div class="publish">
<input type="submit" value="Publish">
<br/>
(No undo)
</div>
Code:<br>
<textarea style="width: 256; height:100; resize: none"
    onkeydown="update_tags()"
    onkeyup="update_tags()"
    onkeypress="update_tags()"
    name="code" id="src_code" cols="40" rows="10">{{ code|escape }}</textarea>
<br>
Title:<br>
<input name="title" type="text" style="width: 256;" value="{{ title|escape }}">
<br>
Author:<br>
<input name="author" type="text" style="width: 256;"><br>
<br>
</form>
<div id="tag_area"></div>
<p><a href="/word-list">Forth Haiku Glossary</a></p>
</div>
<div id="footer">
<a href="/">Home</a>
<span>Haiku Editor</span>
</div>

</div>

<script type="text/javascript" src="/static/haiku.js"></script>
<script type="text/javascript">
function update() {
  var src_code = document.getElementById('src_code');
  var dst_code = document.getElementById('dst_code');
  dst_code.value = src_code.value;
  update_tags();
}

function init() {
  update();
  animate_haikus(function() {});
}

function update_tags() {
  var src_code = document.getElementById('src_code');
  var tag_area = document.getElementById('tag_area');
  tag_area.innerHTML = code_tags(src_code.value).join(' | ');
}

</script>
</body>
</html>
