<html>
<head>
<title>Haiku Gallery</title>
{% include 'header.html' %}

<body onload="init();" bgcolor="#000000">
<div id="wrapper">

<div id="header">
  {% include 'search.html' %}
  <h1>Haiku Gallery</h1>
</div>

<div class="section">

{% for haiku in haikus %}
<div class="haiku" style="cursor: pointer;">
<a href="/haiku-view/{{ haiku.id|escape }}">
<span name="haiku" width="128" height="128">
<textarea style="display: none">{{ haiku.code|escape }}</textarea>
</span></a>
<a href="/haiku-view/{{ haiku.id|escape }}">
<b>{{ haiku.title|escape }}</b></a>
<i>{{ haiku.author|escape }}</i>
</div>
{% endfor %}

{% if more and cursor %}
<br/>
<h3>
<a href="/haiku-list?order={{ order|escape }}&cursor={{ cursor|escape }}">Next</a>
</h3>
{% endif %}

</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
</div>

</div>

<script type="text/javascript" src="/static/haiku.js"></script>
<script type="text/javascript">
function init() {
  animate_haikus(function() {});
}
</script>

</body>
</html>
