<html>
<head>
<title>Interactive Haiku</title>
{% include 'header.html' %}

<body bgcolor="#000000">
<div id="wrapper">

<div id="header">
  {% include 'search.html' %}
  <h1>Interactive Haiku</h1>
</div>

<div class="section">

<p>
Some haiku are now interactive using the
<a href="/word-view/627574746F6E">button</a> and
<a href="/word-view/627574746F6E73">buttons</a> words
to parameterize a haiku based on button / keyboard input.
The <a href="/word-view/6D78">mx</a> and
<a href="/word-view/6D79">my</a> words can be used
to base a haiku on mouse location.
</p>
<p>
These haiku can only be seen in animated form using
<a href="http://en.wikipedia.org/wiki/WebGL>WebGL</a>.
WebGL is available in the very latest versions of
<a href="http://www.google.com/chrome">Google Chrome</a>,
<a href="http://www.firefox.com/">Firefox</a>,
and <a href="http://www.apple.com/safari">Safari</a>.
Click on haiku marked with an 'int' to see the interactive animation.
</p>
<p>
The haiku is converted on the fly to a GLSL fragment shader.
</p>
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
</div>

</div>

</body>
</html>
