<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" type="text/css" href="/static/forthsalon.css"/>

<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="/favicon.ico" type="image/x-icon" rel="icon">
<link href="/favicon57.png" rel="apple-touch-icon" sizes="57x57">
<link href="/favicon128.png" rel="apple-touch-icon" sizes="128x128">
<link href="/favicon160.png" rel="apple-touch-icon" sizes="160x160">
<link href="/favicon192.png" rel="apple-touch-icon" sizes="192x192">
<link href="/favicon256.png" rel="apple-touch-icon" sizes="256x256">
<meta name="viewport" content="width=600">
<meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style"
 content="black-translucent"/>
{% include 'tracking.html' %}
</head>
