<meta http-equiv="X-UA-Compatible" content="chrome=1"> 
<link rel="stylesheet" type="text/css" href="/static/forthsalon.css"/>

<link href="/favicon.ico" rel="SHORTCUT ICON">                
<link href="http://forthsalon.appspot.com/favicon.png"        
 rel="apple-touch-icon-precomposed">                          
<meta name="viewport" content="width=device-width">           
<meta name="viewport" content="initial-scale=1.0">            
<meta name="viewport" content="maximum-scale=1.0">            
<meta name="viewport" content="user-scalable=0">              
<meta name="apple-mobile-web-app-capable" content="yes"/>     
<meta name="apple-mobile-web-app-status-bar-style"            
 content="black-translucent"/>                      
</head>
