<html>
<head>
<title>{{ entry.name|escape }}</title>
{% include 'header.html' %}

<div id="wrapper">

<div id="header">
  {% include 'search.html' %}
  <h1>{{ entry.name|escape }}</h1>
</div>

<div class="section">
<h2>{{ entry.name }}</h2>
{% if entry.stack %}
<p>Stack effect: <b>{{ entry.stack }}</b></p>
{% endif %}
<p>{{ entry.summary }}</p>
{% for part in entry.description %}
<p>{{ part }}</p>
{% endfor %}
{% if entry.examples %}
<p>
Examples:
<ul>
{% for example in entry.examples %}
<li>{{ example|first }} &rarr; {{ example|last }}</li>
{% endfor %}
</ul>
</p>
{% endif %}
<p><a href="/word-list">Forth Haiku Glossary</a></p>
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
</div>

</div>

</body>
</html>
