<html>
<head>
<title>Animated Haiku</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1"> 
<link rel="stylesheet" type="text/css" href="/static/forthsalon.css"/>

<link href="/favicon.ico" rel="SHORTCUT ICON">                
<link href="http://forthsalon.appspot.com/favicon.png"        
 rel="apple-touch-icon-precomposed">                          
<meta name="viewport" content="width=device-width">           
<meta name="viewport" content="initial-scale=1.0">            
<meta name="viewport" content="maximum-scale=1.0">            
<meta name="viewport" content="user-scalable=0">              
<meta name="apple-mobile-web-app-capable" content="yes"/>     
<meta name="apple-mobile-web-app-status-bar-style"            
 content="black-translucent"/>                      
</head>

<body bgcolor="#000000">
<div id="wrapper">

<div id="header">
<h1>Animated Haiku</h1>
</div>

<div class="section">

<p>
Some haiku are now animated using the 't' word.
These haiku can only be seen in animated form using
<a href="http://en.wikipedia.org/wiki/WebGL>WebGL</a>.
WebGL is available in the very latest versions of
<a href="http://www.google.com/chrome">Google Chrome</a>,
<a href="http://www.firefox.com/">Firefox</a>,
and <a href="http://www.apple.com/safari">Safari</a>.
Click on haiku marked with an 'a' to see the animation.
</p>
<p>
The haiku is converted on the fly to a GLSL fragment shader.
</p>
<p>
This feature is a work in progress and may change.
</p>
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
{{ login_status }}
</div>

</div>

</body>
</html>
