<html>
<head>
<title>Haiku Sound</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1"> 
<link rel="stylesheet" type="text/css" href="/static/forthsalon.css"/>

<link href="/favicon.ico" rel="SHORTCUT ICON">                
<link href="http://forthsalon.appspot.com/favicon.png"        
 rel="apple-touch-icon-precomposed">                          
<meta name="viewport" content="width=device-width">           
<meta name="viewport" content="initial-scale=1.0">            
<meta name="viewport" content="maximum-scale=1.0">            
<meta name="viewport" content="user-scalable=0">              
<meta name="apple-mobile-web-app-capable" content="yes"/>     
<meta name="apple-mobile-web-app-status-bar-style"            
 content="black-translucent"/>                      
</head>

<body bgcolor="#000000">
<div id="wrapper">

<div id="header">
<h1>Haiku Sound</h1>
</div>

<div class="section">

<p>
Some haiku now have audio.
The sound can only be heard at the moment in browsers that support the
<a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html">WebAudio&nbsp;API</a>.
This is a very new API and is not supported in most browsers.
This feature works on OSX in 'Stable Channel'
<a href="http://www.google.com/chrome">Google Chrome</a>.
On other platforms is known to work in 'Canary'
<a href="http://www.chromium.org/getting-involved/dev-channel">channel</a>.
</p>
<p>
Haiku containing the word 'audio' will be treated as two sections.
Everything before 'audio' will be a typical graphical haiku.
Everything after will be a sound haiku expected to emit a single data stack
value for the audio amplitude (-1 thru 1) using 't' as an input.
A planned future feature: stereo may be supported by running the haiku twice
with 'x' at -1 and 1 for left and right.
</p>
<p>
This feature is a work in progress and may change.
</p>
</div>

<div id="footer">
<a href="/">Home</a>
<a href="/haiku-editor">Haiku Editor</a>
{{ login_status }}
</div>

</div>

</body>
</html>
